<div class="border-form-div">
  <h3>Sign up</h3>  
  
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
  
    <div class="form-inputs">
      <%= f.input :username, required: true, autofocus: true %>
      <%= f.input :name, required: true %>
      <%= f.input :email, required: true %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true  %>
    </div>
  
    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>