<div class="border-form-div">
  <%= simple_form_for income_type do |f| %>
    <%= f.error_notification %>
    <div class="control-group">
      <%= f.input :name%>
      <%= f.input :parent_id, :collection => select_income_types, :value_method => :id,
        :label_method =>:name, :include_blank => "None", :label => "Parent" %>
    </div>
    <div class="form-actions">
      <%= f.button :submit %> or 
      <%= link_to "Cancel", income_types_path %>
    </div>
  <%end%>
</div>