<div class="page-header">
  <h1 class="text-center">Income Types</h1>
</div>
<div class="new-button">
  <%= link_to 'New Income Type',
            new_income_type_path,
            :class => 'btn btn-primary' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @income_types.each do |income_type| %>
      <tr>
        <td><%= income_type.name %></td>
        <td><%= income_type.parent ? income_type.parent.name :  'None' %></td>
        <td>
          <%= link_to 'Edit', edit_income_type_path(income_type), :class => 'btn btn-mini' %>
          <%= delete_button( income_type)%>
        </td>
      </tr>
    <% end %>
    <tr >
      <td colspan='4'>
       <%= paginate @income_types %>
      </td>
    </tr>
  </tbody>
</table>
