<div class="border-form-div">
  <%= simple_form_for expense_type do |f| %>
    <%= f.error_notification %>
  
    <div class="group-control">
      <%= f.input :name %>
      <%= f.input :parent_id, :collection => select_expense_types, :value_method => :id,
        :label_method =>:name, :include_blank => "None", :label => "Parent" %>
    </div>
  
    <div class="form-actions">
      <%= f.button :submit %>
       or 
      <%= link_to "Cancel", expense_types_path %>
    </div>
  <% end %>
</div>