<div class="page-header">
  <h1 class="text-center">Expense Types</h1>
</div>
<div class="new-button">
  <%= link_to 'New Expense Type',
            new_expense_type_path,
            :class => 'btn btn-primary' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @expense_types.each do |expense_type| %>
      <tr>
        <td><%= expense_type.name %></td>
        <td><%= expense_type.parent ? expense_type.parent.name :  'None' %></td>
        <td>
          <%= link_to 'Edit',
                      edit_expense_type_path(expense_type), :class => 'btn btn-mini' %>
          <%= delete_button_for( expense_type) %>
        </td>
      </tr>
    <% end %>
    <tr >
      <td colspan='4'>
       <%= paginate @expense_types %>
      </td>
    </tr>
  </tbody>
</table>
