<div class="border-form-div">
  <%= simple_form_for income, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.error_notification %>
    <div class="control-group">
      <%= f.input :income_type_id, collection: income_type_collection, as: :grouped_select,
        group_method: :children_with_parent,:value_method => :id, :label_method =>:name,
        prompt: "Choose income type"%>
      <%= f.input :amount %>
      <%= f.input :note %>
    </div>
    <div class="form-actions">
      <%= f.button :submit %> or 
      <%= link_to "Cancel", incomes_path %>
    </div>
  <%end%>
</div>
