<div class="page-header">
  <h1 class="text-center">Incomes</h1>
</div>
<div class="new-button">
  Add <%= link_to 'New', new_income_path, :class => 'btn btn-primary' %> Income
</div>
<div style="margin-left: 20px;">
  <h3>Total from beginning of the month: <%= monthly_income %>  RON</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Income Type</th>
      <th>Amount</th>
      <th>Note</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= link_to income.id, income_path(income) %></td>
        <td><%= income.income_type.name %></td>
        <td><%= income.amount %></td>
        <td><%= income.note %></td>
        <td><%= income.created_at %></td>
        <td>
          <%= link_to 'Delete',
                      income_path(income),
                      :method => :delete,
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
     <tr>
        <td colspan="4">
          <%= paginate @incomes %>
        </td>
      </tr>
  </tbody>
</table>
