<div class="border-form-div">
  <h3>Sign in</h3>
  
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <div class="form-inputs">
     <%= f.input :login, required: false, autofocus:true, :label => "Username/Email"  %>
     <%= f.input :password, required: false %>
     <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
   </div>
  
   <div class="form-actions">
     <%= f.button :submit, "Sign in" %>
   </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>