<div class="border-form-div">
  <h3><%= t "devise.invitations.new.header" %></h3>

  <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name),
  :html => {:method => :post} do |f| %>
    <%= devise_error_messages! %>

    <div class="form-inputs">
      
        <%= f.input :name %>
        <%= f.input :email %>
  
    </div>

    <div class="form-actions">
      <%= f.button :submit, t("devise.invitations.new.submit_button") %>
    </div>
  <% end %>
</div>


<table class="table table-striped">
  <thead>
    <caption><h2>My Invitees</h2></caption>
    <tr>
      <th>To</th>
      <th>Name</th>
      <th>Username</th>
      <th>Status</th>
      <th>Invitation Date</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.invitations.reverse.each do |inv| %>
      <tr>
        <td><%= inv.email %></td>
        <td><%= inv.name %></td>
        <td><%= inv.username%></td>
        <td><%= inv.invitation_accepted_at ? "Accepted" : "Pending" %></td>
        <td><%= inv.invitation_sent_at %></td>
      </tr>
      <%end%>
    </tbody>
</table>