// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#welcome{
  margin-left: 50px;
}
.income{
  color: green;
}
.expense{
  color: red;
}