<p>Hello <%= @resource.name %>,</p>

<p>Please click on the following link to activate your account!</p>
<p><%= link_to 'Activate account', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>Or if you cannot click on it copy paste the following URL in your browser address bar:</p>
<p><%= confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Thank you,</p>
<p>Trackie Team!</p>

