<p>Hello <%= @resource.name %>,</p>

<p>Your friend <%= @user.invited_by.name %> invited you to try Trackie.</p>
<p>Click on this link to create a new account</p>
<p><%= link_to 'Create account', accept_invitation_url(@resource, :invitation_token => @token)  %></p>
<p>Or if you cannot click on it copy paste the following URL in your browser address
bar:<br>
<%=accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p>Thank you,</p>
<p>Trackie Team!</p>