<div class="border-form-div">
  <%= simple_form_for expense do |f| %>
   <%= f.error_notification %>
   <div class="control-group">
     <%= f.input :expense_type_id, collection: expense_type_collection, as: :grouped_select,
      group_method: :children_with_parent, :value_method => :id, :label_method =>:name,
      prompt: "Choose expense type"%>
     <%= f.input :amount %>
     <%= f.input :note %>
   </div>
   <div class="form-actions">
     <%= f.button :submit %> or 
     <%= link_to "Cancel", expenses_path %>
   </div>
  <%end%>
</div>
