<div class="page-header">
  <h1 class="text-center">Expenses</h1>
</div>

<div class="new-button">
  Add <%= link_to 'New', new_expense_path, :class => 'btn btn-primary' %> Expense
</div>
<div style="margin-left: 20px;">
  <h3>Total from beginning of the month: <%= monthly_expense %>  RON</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Expense Type</th>
      <th>Amount</th>
      <th>Note</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= link_to expense.id, expense_path(expense) %></td>
        <td><%= expense.expense_type.name %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.note %></td>
        <td><%= expense.created_at %></td>
        <td>
          <%= link_to 'Delete',
                      expense_path(expense),
                      :method => :delete,
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
     <tr>
        <td colspan="4">
          <%= paginate @expenses %>
        </td>
      </tr>
  </tbody>
</table>
