<!DOCTYPE html>
<html>
  <head>
    <title>Trackie</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-fixed-top" role="navigation">  
        <div class="navbar-inner">  
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <div class="brand">Trackie</div>
            <div class="collapse nav-collapse" id="bs-example-navbar-collapse-1">
              <%= render_navigation :expand_all => true, :renderer => :bootstrap %>
            </div>  
          </div>  
        </div>
      </nav> 
    <% end %>

    <% if user_signed_in? == false %>
      <div class="content-trackie">
        <center>
          <h1>Trackie</h1>
          <p>Allow tracking your income and expenses and generate reports to help improve financial sustainability.</p>
        </center>
      </div>
    <% end %>

    <div class="text-center">
      <%= bootstrap_flash %>
    </div>
    

    <%= yield %>

  </body>
</html>
